<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>accesories_h.png</string>
	<string>accesories.png</string>
	<string>accesories_s.png</string>
	<string>appliance_h.png</string>
	<string>appliance.png</string>
	<string>appliance_s.png</string>
	<string>automobile_h.png</string>
	<string>automobile.png</string>
	<string>automobile_s.png</string>
	<string>beauty_h.png</string>
	<string>beauty.png</string>
	<string>beauty_s.png</string>
	<string>beverage_h.png</string>
	<string>beverage.png</string>
	<string>beverage_s.png</string>
	<string>clothes_h.png</string>
	<string>clothes.png</string>
	<string>clothes_s.png</string>
	<string>dining_h.png</string>
	<string>dining.png</string>
	<string>dining_s.png</string>
	<string>drink_h.png</string>
	<string>drink.png</string>
	<string>drink_s.png</string>
	<string>health_h.png</string>
	<string>health.png</string>
	<string>health_s.png</string>
	<string>hobby_h.png</string>
	<string>hobby.png</string>
	<string>hobby_s.png</string>
	<string>learning_h.png</string>
	<string>learning.png</string>
	<string>learning_s.png</string>
	<string>lesure_h.png</string>
	<string>lesure.png</string>
	<string>lesure_s.png</string>
	<string>living_h.png</string>
	<string>living.png</string>
	<string>living_s.png</string>
	<string>network_h.png</string>
	<string>network.png</string>
	<string>network_s.png</string>
	<string>pet_h.png</string>
	<string>pet.png</string>
	<string>pet_s.png</string>
	<string>reading_h.png</string>
	<string>reading.png</string>
	<string>reading_s.png</string>
	<string>shoes_h.png</string>
	<string>shoes.png</string>
	<string>shoes_s.png</string>
	<string>snack_h.png</string>
	<string>snack.png</string>
	<string>snack_s.png</string>
	<string>taxi_h.png</string>
	<string>taxi.png</string>
	<string>taxi_s.png</string>
	<string>touring_h.png</string>
	<string>touring.png</string>
	<string>touring_s.png</string>
	<string>transportation_h.png</string>
	<string>transportation.png</string>
	<string>transportation_s.png</string>
	<string>workout_h.png</string>
	<string>workout.png</string>
	<string>workout_s.png</string>
	<string>misc_h.png</string>
	<string>misc.png</string>
	<string>transportation.card.png</string>
	<string>gift.png</string>
	<string>housing.png</string>
	<string>real.estate.png</string>
	<string>nurturing.png</string>
	<string>card.png</string>
</array>
</plist>
